.footer {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    width: 100%;
    padding: 2vh;
    background-color: #1948A6;
    z-index: auto;
}

.footer-table {
    color: #072259!important;
    margin: 0!important;
    height: 100%;
}